@page "{videoId:int}"
@model VideoStore.Pages.Videos.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "_LayoutSpecial";
}

<h1>@Model.Video.Title</h1>

@if (Model.CommitMessage != null)
{
    //TempData.Keep("CommitMessage");
    <div class="alert alert-info">@Model.CommitMessage</div>
}

<div>
    Catalog ID: @Model.Video.Id
</div>
<div>
    Release Date: @Model.Video.ReleaseDate.ToString("dd MMMM yyyy")
</div>
<div>
    Genre: @Model.Video.Genre
</div>
@*<div>
    Price: $@Model.Video.Price
</div>*@
<videoPrice video-price="@Model.Video.Price" culture-name="en-GB" label="Price: "></videoPrice>
<div>
    Lent Out: @Html.CheckBoxFor(x => x.Video.LentOut)
</div>

@if (Model.Video.LentOut == true)
{
    <div>
        Lent To: @Model.Video.LentTo
    </div>
}

<a asp-page="./List" class="btn btn-outline-primary">Back to Videos</a>